@model Los_Portales.Models.Report;
@{
    ViewData["Title"] = "Report";
}


<h1>Report for @Model.PlayName </h1>
<a asp-action="Index">Generate New Report <br /><br /></a>

<div class="container">
    <h4> Total Revenue: $@ViewBag.Total</h4>  
    <h6> Total Sold Seats: @ViewBag.TotalSoldSeats</h6>
    <h6> Total Available Seats: @ViewBag.TotalAvailableSeats</h6>
</div>

<div class="container">
    
    @if(Model.SeatsSold == true && Model.SeatsAvailabe == false)
    {   
       <div class="container-seat">
            @for(int i = 0; i <8; i++)
            {   
                <div class="row">
                @for(int j = 0; j < 10; j++)
                {   
                    @if(Model.seats[j+(i*10)].IsSold == 1)
                    {
                        <div class="seat-report"> 
                            <h6 class="text-light"> @Model.seats[j+(i*10)].SeatNumber.ToString()</h6>
                            <h6> Seat Sold</h6>
                            </div>
                    }
                        
                }
                </div>       
            }     
        </div> 
    }
    @if(Model.SeatsAvailabe == true && Model.SeatsSold == false)
    {
        // seats available 
        <div class="container-seat">
            @for(int i = 0; i <8; i++)
            {   
                <div class="row">
                @for(int j = 0; j < 10; j++)
                {   
                    @if(Model.seats[j+(i*10)].IsSold != 1)
                    {
                        <div class="seat-report"> 
                            <h6 class="text-light"> @Model.seats[j+(i*10)].SeatNumber.ToString()</h6>
                            <h6> Seat Availabe</h6>
                        </div>
                    }        
                }
                </div>       
            }     
        </div> 
        
    }
    @if(Model.SeatsSold == true && Model.SeatsAvailabe==true)
    {
        <div class="container-seat">
            @for(int i = 0; i <8; i++)
            {   
                <div class="row">
                @for(int j = 0; j < 10; j++)
                {   
                    @if(Model.seats[j+(i*10)].IsSold != 1)
                    {
                        <div class="seat-report"> 
                            <h6 class="text-light"> @Model.seats[j+(i*10)].SeatNumber.ToString()</h6>
                            <h6> Seat Availabe</h6>
                            </div>
                        }
                        else
                        {
                            <div class="seat-report"> 
                            <h6 class="text-light"> @Model.seats[j+(i*10)].SeatNumber.ToString()</h6>
                            <h6 class="text-dark"> Seat Sold</h6>
                            </div>
                        }
                    }
                </div>       
            }     
        </div> 
    }
    
</div>

