@model Los_Portales.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTickets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTickets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOnCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOnCard)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
