@model Los_Portales.Models.Play

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Play</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlayId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
