@model IEnumerable<Los_Portales.Models.Play>

@{
    ViewData["Title"] = "Index";
}

<h1> Current Plays </h1>

    @if(User.IsInRole("admin"))
    {
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    }
    <table class="table table-md" style="color:white">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PlayName)
            </th>
            <th scope="col"> 
                @Html.DisplayNameFor(model => model.PlayDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PlayTime)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody style="color:white">
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayTime)
            </td>
            <td>
                @if(User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.PlayId">Edit | </a> 
                    <a asp-controller="Seats" asp-action="Index" asp-route-id="@item.PlayId">Assign Seat Prices | </a> 
                    <a asp-action="Delete" asp-route-id="@item.PlayId">Delete</a>
                }
                else if(User.IsInRole("customer"))
                {
                    <a asp-controller="Seats" asp-action="SeatingChart" asp-route-id=@item.PlayId>Seats</a>
                }
                else
                {
                    
                 <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">You must have an account to purchase a ticket: login here</a>
                  
                }
            </td>
            
            
                
                
        </tr>
    }
    </tbody>
    </table>

